# File di sistema
.DS_Store
Thumbs.db

# Log files
*.log

# Cartelle di dipendenze (esempio, se usi Node.js)
# node_modules/

# File di configurazione dell'editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp 